@charset "UTF-8";
@font-face {
  font-family: "BlackOpsOne";
  src: url("../asset/BlackOpsOne-Regular.ttf");
}
body {
  background-image: url("../imagen/fondo.PNG");
  background-attachment: fixed;
  opacity: 1;
}

#hr {
  height: 3px;
  background-color: red;
  width: 100%;
  opacity: 1;
  padding: 0;
}

.fondo {
  background-image: url("../imagen/fondo.PNG");
}

header img {
  height: 150px;
  width: 150px;
}

nav .botones {
  font-size: 25px;
  color: white;
}
nav .navbar-toggler {
  background-color: white;
}
nav .botones :hover {
  color: red;
}

.Hero-Conten {
  width: 100%;
  height: 700px;
  object-fit: cover;
  color: aliceblue;
  background-attachment: fixed;
  animation: cambio-color 6s ease-in-out infinite alternate;
}
@keyframes cambio-color {
  0% {
    background-image: url(../imagen/tokio2.PNG);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 800px;
  }
  100% {
    background-image: url(../imagen/tokio.PNG);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 800px;
  }
}
.Hero-Conten h1 {
  font-family: "BlackOpsOne";
  -webkit-text-stroke: white 0.5px;
  padding: 100px;
  text-align: center;
  font-size: 100px;
  color: red;
}

.HeroConten {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  transition: transform 4s ease;
}
.HeroConten img:hover {
  object-fit: cover;
  height: 380px;
  width: 480px;
  border-radius: 10%;
}
.HeroConten img {
  object-fit: cover;
  height: 350px;
  width: 450px;
  border-radius: 10%;
}

.Hero h2 {
  padding: 15px;
  text-align: center;
  font-size: 45px;
  -webkit-text-stroke: white 1px;
  color: red;
}

@media (max-width: 1238px) {
  .Hero-Conten {
    animation: none;
    background-image: url(../imagen/tokio2.PNG);
    height: 400px;
    background-attachment: fixed;
  }
  .Hero-Conten h1 {
    font-family: "BlackOpsOne";
    -webkit-text-stroke: white 0.5px;
    padding: 100px;
    text-align: center;
    font-size: 70px;
    color: red;
  }
  .Hero h2 {
    padding: 15px;
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke: white 1px;
    color: red;
  }
  .Hero .HeroConten {
    display: flex;
    gap: 20px;
    padding: 10px;
    margin: auto;
    justify-content: center;
  }
  .Hero .HeroConten img {
    object-fit: cover;
    height: 200px;
    width: 300px;
    border-radius: 10%;
  }
  .Hero .HeroConten img:hover {
    object-fit: cover;
    height: 250px;
    width: 350px;
    border-radius: 10%;
  }
}
@media (max-width: 768px) {
  .Hero-Conten {
    animation: none;
    background-image: url(../imagen/tokio2.PNG);
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
  }
  .Hero-Conten h1 {
    font-family: "BlackOpsOne";
    -webkit-text-stroke: white 0.5px;
    padding: 100px;
    text-align: center;
    font-size: 70px;
    color: red;
  }
  .Hero h2 {
    padding: 15px;
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke: white 1px;
    color: red;
  }
  .HeroConten {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: auto;
    justify-content: center;
    place-items: center;
  }
  .HeroConten img {
    object-fit: cover;
    height: 300px;
    width: 400px;
    border-radius: 10%;
  }
  .HeroConten img:hover {
    object-fit: cover;
    height: 350px;
    width: 450px;
    border-radius: 10%;
  }
}
@media (max-width: 480px) {
  header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  header ul li {
    font-size: 18px;
  }
  .Hero-Conten {
    animation: none;
    background-image: url(../imagen/tokio.PNG);
    background-repeat: no-repeat;
    height: 300px;
    background-attachment: fixed;
  }
  .Hero-Conten h1 {
    font-family: "BlackOpsOne";
    -webkit-text-stroke: white 0.5px;
    padding: 100px;
    text-align: center;
    font-size: 50px;
    color: red;
  }
  .Hero h2 {
    padding: 15px;
    text-align: center;
    font-size: 30px;
    -webkit-text-stroke: white 1px;
    color: red;
  }
  .HeroConten {
    display: grid;
    gap: 10px;
    padding: 10px;
    margin: auto;
    grid-template-columns: 1fr;
  }
  .HeroConten img:hover {
    object-fit: cover;
    height: 260px;
    width: 360px;
    border-radius: 10%;
  }
}
footer {
  background-color: #31363F;
  color: white;
  width: 100%;
  text-align: center;
}
footer h3 {
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
footer h4 {
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
footer img {
  height: 30px;
  width: 30px;
}

.Hero-ContenBarrios {
  background-image: url(../imagen/giftokio.gif);
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.Hero-ContenBarrios h1 {
  font-family: "BlackOpsOne";
  -webkit-text-stroke: white 0.5px;
  padding: 100px;
  text-align: center;
  font-size: 80px;
  color: red;
}
.Hero-ContenBarrios p {
  color: white;
  font-size: 30px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  /* Hace que el texto esté en negrita */
  -webkit-text-stroke: red 0.5px;
}

.Hero-Barrios {
  padding: 20px;
  display: flex;
  align-items: center;
}
.Hero-Barrios h2 {
  font-family: "BlackOpsOne";
  -webkit-text-stroke: white 0.5px;
  text-align: center;
  font-size: 35px;
  color: red;
}
.Hero-Barrios img {
  height: 550px;
  width: 60%;
  image-rendering: auto;
  /* O smooth */
  object-fit: contain;
}
.Hero-Barrios p {
  font-size: 20px;
  color: white;
  -webkit-text-stroke: red 0.2px;
  text-align: center;
}

.barrios {
  justify-content: center;
  height: 100%;
  width: 100%;
}

.containerIframe {
  display: flex;
  flex-direction: column;
}
.containerIframe h3 {
  text-align: center;
  font-size: 40px;
  color: red;
  -webkit-text-stroke: white 0.5px;
  padding: 20px;
}

.containerBarrios p {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}

#iframe iframe {
  padding: 30px;
  height: 450px;
  width: 50%;
  position: relative;
  left: 25%;
}

@media (max-width: 1164px) {
  .Hero-ContenBarrios p {
    display: none;
  }
}
@media (max-width: 768px) {
  .Hero-Barrios img {
    height: 400px;
    width: 60%;
    border-radius: 10%;
    object-fit: cover;
  }
  .Hero-ContenBarrios {
    height: 350px;
  }
  .Hero-ContenBarrios p {
    display: none;
  }
  .Hero-ContenBarrios h1 {
    font-family: "BlackOpsOne";
    -webkit-text-stroke: white 0.5px;
    padding: 100px;
    text-align: center;
    font-size: 35px;
    color: red;
  }
  .containerIframe h3 {
    text-align: center;
    font-size: 40px;
    color: red;
    -webkit-text-stroke: white 0.5px;
    padding: 20px;
  }
  #iframe iframe {
    padding: 30px;
    height: 450px;
    width: 80%;
    position: relative;
    left: 10%;
  }
}
@media (max-width: 550px) {
  .Hero-ContenBarrios {
    background-image: none;
    height: 300px;
    background-size: cover;
  }
  .Hero-ContenBarrios h1 {
    font-family: "BlackOpsOne";
    -webkit-text-stroke: white 0.5px;
    padding: 100px;
    text-align: center;
    font-size: 38px;
    color: red;
  }
  .Hero-ContenBarrios h2 {
    font-family: "BlackOpsOne";
    -webkit-text-stroke: rgb(224, 7, 7) 0.5px;
    text-align: center;
    font-size: 30px;
    color: rgb(165, 163, 163);
  }
}
.Hero-ContenComidas {
  background-image: url(../imagen/comida/sushifondo.gif);
  opacity: 0.9;
  background-attachment: fixed;
  position: relative;
}
.Hero-ContenComidas h1 {
  font-family: "BlackOpsOne";
  -webkit-text-stroke: black 1px;
  padding: 200px;
  text-align: center;
  font-size: 100px;
  color: red;
}

.HeroComidas h2 {
  text-align: center;
  font-size: 55px;
  -webkit-text-stroke: white 0.5px;
  color: red;
  padding-top: 15px;
}

.comidas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "sushi takoyaki udon" "onigiri ramen yakitori";
  gap: 10px;
  padding: 10px;
  place-items: center;
  /* Esto centra el contenido tanto horizontal como verticalmente */
}
.comidas h3 {
  font-size: 30px;
  -webkit-text-stroke: white 0.5px;
  color: red;
}
.comidas .card-body {
  background-color: rgb(214, 71, 71);
  text-align: center;
  height: 250px;
}

.Restaurantes h3 {
  text-align: center;
  font-size: 55px;
  -webkit-text-stroke: white 0.5px;
  color: red;
  padding-top: 15px;
}

@media (max-width: 923px) {
  .comidas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "sushi takoyaki" "onigiri udon" "ramen yakitori";
    gap: 10px;
    padding: 10px;
    place-items: center;
    /* Esto centra el contenido tanto horizontal como verticalmente */
  }
  .Hero-ContenComidas {
    width: 100%;
    /* Puedes ajustar el ancho según tus necesidades */
    height: 400px;
    /* Puedes ajustar la altura según tus necesidades */
  }
  .Hero-ContenComidas h1 {
    font-family: "BlackOpsOne";
    -webkit-text-stroke: white 0.5px;
    padding: 100px;
    text-align: center;
    font-size: 75px;
    color: red;
  }
}
@media (max-width: 624px) {
  .Hero-ContenComidas {
    background-image: url(../imagen/comida/sushifondo.gif);
    opacity: 0.9;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    /* Puedes ajustar el ancho según tus necesidades */
    height: 200px;
    /* Puedes ajustar la altura según tus necesidades */
  }
  .Hero-ContenComidas h1 {
    font-family: "BlackOpsOne";
    -webkit-text-stroke: black 0.5px;
    padding: 50px;
    text-align: center;
    font-size: 45px;
    color: red;
  }
  .comidas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    place-items: center;
    /* Esto centra el contenido tanto horizontal como verticalmente */
  }
}
.Hero-ContenAnime {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: aliceblue;
  animation: cambio-color-anime 6s ease-in-out infinite alternate;
}
@keyframes cambio-color-anime {
  0% {
    background-image: url(../imagen/anime/animefondo1.PNG);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 800px;
  }
  100% {
    background-image: url(../imagen/anime/animefondo.PNG);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 800px;
  }
}
.Hero-ContenAnime h1 {
  font-family: "BlackOpsOne";
  -webkit-text-stroke: white 0.5px;
  padding: 100px;
  text-align: center;
  font-size: 100px;
  color: red;
}

.anime {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: max-content;
  gap: 5px;
  padding: 5px;
}
.anime .anime-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  font-size: 20px;
  -webkit-text-stroke: white 0.5px;
  color: red;
  padding-top: 15px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 1.5s ease;
  /* Transición suave del efecto de giro */
  /* Transición suave del efecto de giro */
}
.anime .anime-items img {
  height: 250px;
  width: 250px;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 2s ease;
}
.anime .anime-items img:hover {
  transform: rotateY(180deg);
  height: 300px;
  width: 300px;
  /* Gira la carta 180 grados al pasar el ratón por encima */
}

@media (max-width: 1240px) {
  .anime {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    padding: 5px;
  }
}
@media (max-width: 1100px) {
  .anime {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    padding: 5px;
  }
  .Hero-ContenAnime h1 {
    font-size: 85px;
  }
}
@media (max-width: 750px) {
  .anime {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  .Hero-ContenAnime {
    width: 100%;
    object-fit: cover;
    color: aliceblue;
    animation: none;
    background-image: url(../imagen/anime/anime.PNG);
    background-repeat: no-repeat;
  }
  .Hero-ContenAnime h1 {
    color: white;
    font-size: 40px;
    -webkit-text-stroke: rgb(209, 16, 16) 0.5px;
  }
}
.Hero-ContenRegistro h1 {
  font-size: 95px;
  color: red;
  -webkit-text-stroke: white 0.5px;
  padding: 30px;
  font-family: "BlackOpsOne";
  text-align: center;
}

.Registro h2 {
  font-size: 55px;
  color: red;
  -webkit-text-stroke: white 0.5px;
  text-align: center;
  padding: 30px;
}
.Registro .RegistroForm {
  display: flex;
  gap: 50px;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.Registro .RegistroForm img {
  width: 550px;
  height: 350px;
  border-radius: 10px;
}
.Registro .RegistroForm button {
  width: 30%;
  border-radius: 10px;
  height: 35px;
  color: brown;
  font-size: 20px;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.Registro .RegistroForm .Formulario {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.Registro .RegistroForm label {
  color: red;
  font-size: 28px;
  -webkit-text-stroke: white 0.5px;
}
.Registro .RegistroForm input {
  padding: 5px;
  border-radius: 5px;
}

@media (max-width: 870px) {
  .Hero-ContenRegistro h1 {
    font-size: 75px;
    color: red;
    -webkit-text-stroke: white 0.5px;
    padding: 30px;
    font-family: "BlackOpsOne";
    text-align: center;
  }
  .Registro h2 {
    font-size: 35px;
    color: red;
    text-align: center;
    -webkit-text-stroke: white 0.5px;
    padding: 30px;
  }
  .Registro .RegistroForm img {
    display: none;
  }
}
/*---------------INDEX PÁGINA------------*/
/*migrado a page de layouts*/
/*---------------SEGUNDA PÁGINA------------*/
/*migrado a page de layouts*/
/*---------------TERCERA PÁGINA------------*/
/*migrado a page de layouts*/
/*---------------CUARTA PÁGINA ANIME------------*/
/*migrado a page de layouts*/
/*---------------CUARTA PÁGINA------------*/
/*migrado a page de layouts*/

/*# sourceMappingURL=style.css.map */
