.Hero-ContenAnime {
    width: 100%;
    height: 100%;

    color: $border-color;

    background-image: url(../imagen/anime/giftitan.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 800px;


    h1 {
        font-family: 'BlackOpsOne';
        -webkit-text-stroke: $border-color 0.5px;
        padding: 100px;
        text-align: center;
        font-size: 100px;
        color: $main-color;

    }
}

.anime {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: max-content;
    gap: 5px;
    padding: 5px;

    .anime-items {
        @include card-anime;
        -webkit-text-stroke: $border-color 0.5px;
        color: $main-color;
        padding-top: 15px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
        border-radius: 10%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        transition: transform 1.5s ease;

        /* Transición suave del efecto de giro */
        img {
            height: 250px;
            width: 250px;
            border-radius: 10%;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            transition: transform 2s ease;
        }

        /* Transición suave del efecto de giro */
        img:hover {
            transform: rotateY(180deg);
            height: 300px;
            width: 300px;
            /* Gira la carta 180 grados al pasar el ratón por encima */
        }

    }
}




@media (max-width: 1240px) {

    .anime {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 5px;
        padding: 5px;
    }
}


@media (max-width: 1100px) {

    .anime {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 5px;
        padding: 5px;
    }

    .Hero-ContenAnime {

        h1 {

            font-size: 85px;

        }
    }
}

@media (max-width: 750px) {

    .anime {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

    .Hero-ContenAnime {
        width: 100%;
        height: 350px;
        color: $border-color;
        background-image: url(../imagen/anime/anime.PNG);
        background-repeat: no-repeat;
        background-attachment: local;
        background-size:auto;

        h1 {
            color: $border-color;
            font-size: 40px;
            -webkit-text-stroke: $main-color 0.5px;
        }
    }
}