.Hero-ContenRegistro {

    h1 {
        font-size: 95px;
        color: $main-color;
        -webkit-text-stroke: $border-color 0.5px;
        padding: 30px;
        font-family: 'BlackOpsOne';
        text-align: center;
    }


}

.Registro {

    h2 {
        font-size: 55px;
        color: $main-color;
        -webkit-text-stroke: $border-color 0.5px;
        text-align: center;
        padding: 30px;

    }

    .RegistroForm {
        display: flex;
        gap: 50px;
        width: 100%;
        height: 500px;
        justify-content: center;
        align-items: center;

        img {
            width: 550px;
            height: 350px;
            border-radius: 10px;
        }

        button {

            width: 30%;
            border-radius: 10px;
            height: 35px;
            color: brown;
            font-size: 20px;
            text-align: center;
            margin: auto;
            cursor: pointer;
        }

        .Formulario {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 10px;
        }

        label {
            color: $main-color;
            font-size: 28px;
            -webkit-text-stroke: $border-color 0.5px;

        }


        input {
            padding: 5px;
            border-radius: 5px;
        }


    }
}




@media (max-width: 870px) {

    .Hero-ContenRegistro {

        h1 {
            font-size: 75px;
            color: $main-color;
            -webkit-text-stroke: $border-color 0.5px;
            padding: 30px;
            font-family: 'BlackOpsOne';
            text-align: center;

        }
    }

    .Registro {

        h2 {
            font-size: 35px;
            color: $main-color;
            text-align: center;
            -webkit-text-stroke: $border-color 0.5px;
            padding: 30px;

        }

        .RegistroForm {
            img {
                display: none;
            }
        }

    }
}